
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 1.5;
  margin: 0 0 0 0;
}

nav,
footer {
  padding: 1% 0;
  background-color: #FF6900;
  display: block;
}

.largerNav {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: left;
  padding: 6px;
  font-size: 24px;
  text-transform: uppercase;  
  font-weight: 300;
  letter-spacing: 3px;
}

nav > a {
  margin: 0;
  display: inline;
  color: white;
  text-decoration: none;
}

nav > a:hover, nav > a:focus {
  cursor: pointer;
  color: white;
}

.hamburger {
  background: none;
  border: none;
  font-size: 20px;
  border-radius: 3px;
  color: white;
  width: 40px;
  margin-top: 8px;
  position: absolute;
  top: 0;
  right: 4px;
}

.hamburger:hover, .hamburger:focus {
  cursor: pointer;
  outline: 0;  
}

.topNav {
  display: none;
}

.topNav.responsive {
  display: block;
  color: white;
  background-color: rgb(255, 106, 0);
  position: absolute;
  width: 100%;
  margin-top: 6px;
  left: 0;
}

.topNav.responsive ul {
  list-style: none;
  text-align: center;
  border-top: 1px solid black;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #FF6900;
}

.topNav.responsive li {
  display: block;
  line-height: 50px;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  font-size: 20px;
  text-decoration: none;
}

.topNav.responsive a {
  color: white;
  text-decoration: none;
  font-weight: 200;
}

.topNav.responsive li:hover, .topNav.responsive li:focus {
  background-color: rgb(255, 135, 49);
  cursor: pointer;
}

header {
  display: block;
  background: url('./Images/the-piano-017.jpg');
  background-repeat: repeat;
  background-size: contain;
  background-position: bottom;
  background-color: black;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  height: 80px;
  width: 100%;
  margin-top: 48px;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.container > a {
  text-decoration: none;
  color: rgb(53, 53, 53);
  padding: 5px;
}

a:hover {
  color: #FF6900;
}


.bio {
  min-height: 200px;
  padding: 6% 0;
  background-color: #ffffff;
  color: rgb(53, 53, 53);
}

.bioContainer {
  width: 86%;
  font-weight: 400;
  font-size: 20px;
  margin: 0 auto;
  line-height: 25px;
}

.bioContainer > p:first-of-type {
  padding-bottom: 25px;
  font-weight: 500;
}

.bioContainer > p:nth-of-type(2) {
  font-size: 16px;
  display: block;
  text-align: left;
  padding-bottom: 10px;
}

.bioContainer .aboutMe {
  display: none;
}

.languageIcons > p {
  height: 50px;
  margin: 0;

  padding-top: 3px;
}

.contactIcons {
  display: flex;
  justify-content: space-evenly;
  padding: 7px 0px;
}

.contactIcons a, .contactIcons img {
  width: 27px;
  height: 27px;
}

.weddingPhoto1 img {
  width: 60%;
  margin-bottom: 20px;
  border: 2px solid rgb(173, 172, 172);
  border-radius: 3px;
}

.weddingPhoto2 img {
  width: 85%;
  border: 2px solid rgb(173, 172, 172);
  border-radius: 3px;
  margin-top: 15px;
}

.projectsTitle {
  color: rgb(53, 53, 53);
  font-weight: 400;
  font-size: 26px;
  text-transform: uppercase;
  margin-top: 25px;
  text-decoration: underline;
}

.golfQuizApp, .marvelCharacterSearch, .servicepro-app, .brewbook-app {
  color: rgb(53, 53, 53);
  margin-bottom: 30px;
}

.golfQuizApp img, .marvelCharacterSearch img, .servicepro-app img, .brewbook-app img {
  width: 85%;
  border: 2px solid rgb(173, 172, 172);
  border-radius: 2px;
}

.golfQuizApp p, .marvelCharacterSearch p, .servicepro-app p, .brewbook-app p {
  margin: 0 auto;
  text-align: left;
  width: 85%
}

.golfQuizApp p:nth-of-type(2), .marvelCharacterSearch p:nth-of-type(2), .servicepro-app p:nth-of-type(2), .brewbook-app p:nth-of-type(2) {
  font-size: 12px;
}

.golfQuizApp a, .marvelCharacterSearch a, .servicepro-app a, .brewbook-app a {
  font-size: 15px;
  text-decoration: none;
  color: rgb(53, 53, 53);
}

.languageIcons > img {
  box-sizing: content-box;
  width: 35px;
  height: 35px;
  padding: 0px 15px;
  border: none;
}

.techIcons {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-left: 7.5%;
  margin-bottom: 20px;
  margin-top: 8px;
}

.techIcons > img {
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  padding: 0px 10px;
  border: none;
}

.techIcons > p {
  width: fit-content;
  font-size: 12px;
}












@media screen and (min-width: 500px) { 
  .techIcons > img {
    width: 35px;
    height: 35px;
    padding: 0px 15px;
  }

  .bio {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .hamburger {
    margin-right: 3px;
    margin-top: 10px;
  }
  
  nav > a {
    padding-left: 10px;
    font-size: 27px;
  }

  .topNav.responsive {
    width: 50%;
    left: initial;
    right: 0;
    border-left: 1px solid black;
  }

  header {
    background-size: contain;
    background-repeat: repeat;
    border-bottom: 5px solid black; 
    margin-top: 52px;
    height: 85px;
  }

  .container {
    font-size: 18px;
  }

  .bioContainer > p:first-of-type {
    font-size: 23px;
    padding-bottom: 10px;
  }

  .projectsTitle {
    font-size: 28px;
  }

}









@media screen and (min-width: 860px) {

  nav > a:hover {
    color: rgb(53, 53, 53);
    transition: .1s ease-in;
  }
  
  .topNav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .topNav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: inherit;
    margin: 0px;
    line-height: 52px;
  }

  .topNav li {
    list-style: none;
    font-size: 16px;
    font-weight: 200;
    padding: 0 30px;
  }

  .topNav a {
    text-decoration: none;
    color: white;
  }

  .topNav li:hover {
    background-color: rgb(255, 135, 49);
    cursor: pointer;
    transition: .1s ease-in;
  }

  .bio {
    padding: 3% 10%;
  }

  .container {
    font-size: 18px;
    padding-bottom: 0px;
  }

  .bioContainer {
    padding: 0px 40px;
  }

  .bioContainer p:nth-of-type(1) {
    line-height: 40px;
    font-size: 32px;
  }

  .bioContainer p:nth-of-type(2) {
    padding-bottom: 0;
  }

  .bioContainer .aboutMe {
    display: block;
    font-size: 16px;
    text-align: left;
    padding: 0;
    padding-bottom: 20px;
  }

  .languageIcons > p:nth-of-type(1) {
    font-size: 25px;
    line-height: 33px;
  }

  .contactIcons {
    padding: 1px 0;
    justify-content: space-evenly;
  }

  .contactIcons a, .contactIcons img {
    width: 25px;
    height: 25px;
  }

  .weddingPhoto2 img {
    width: 78%
  }

  .projectsTitle {
    font-size: 30px;
  }

  .projects {
    width: 80%;
    margin: auto auto;
  }

  .projects p {
    font-size: 22px;
  }

  .projects p:nth-of-type(2) {
    font-size: 14px;
  }

  .projects a {
    font-size: 17px;
  }

  .projects a:hover {
    color: #FF6900;
  }

  .languageIcons > img {
    box-sizing: content-box;
    width: 40px;
    height: 40px;
    padding-left: 30px;
  }

  .languageIcons {
    display: flex;
    flex-direction: row;
  }

  .hamburger {
    display: none;
  }

  .hide { 
    display: none;
  }
  
}








