* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 1.5;
  margin: 0 0 0 0;
}

nav,
footer {
  padding: 1% 0;
  background-color: #FF6900;
  display: block;
}

.largerNav {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: left;
  padding: 6px;
  font-size: 24px;
  text-transform: uppercase;  
  font-weight: 300;
  letter-spacing: 3px;
}

nav > p {
  margin: 0;
  display: inline;
}

nav > p:hover, nav > p:focus {
  color: black;
  cursor: pointer;
  transition: .1s ease-in;
}

.hamburger {
  background: none;
  border: none;
  font-size: 20px;
  border-radius: 3px;
  color: black;
  width: 40px;
  margin-top: 8px;
  position: absolute;
  top: 0;
  right: 4px;
}

.hamburger:hover, .hamburger:focus {
  cursor: pointer;
  color: white;
  outline: 0;
  transition: .1s ease-in;
}

header {
  display: block;
  background: url('./Images/the-piano-017.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: black;
  border-bottom: 10px solid black;
  height: 160px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.container > a {
  text-decoration: none;
  color: rgb(53, 53, 53);
  padding: 5px;
}

a:hover, a:focus {
  color: #FF6900;
}


.bio {
  min-height: 200px;
  padding: 6% 0;
  background-color: #ffffff;
  color: rgb(53, 53, 53);
}

.bioContainer {
  width: 86%;
  font-weight: 400;
  font-size: 20px;
  margin: 0 auto;
}

.bioContainer > p:first-of-type {
  padding-bottom: 25px;
}

.bioContainer > p:nth-of-type(2) {
  font-size: 16px;
  display: block;
  text-align: left;
  padding-bottom: 10px;
}

.languageIcons {
  display: flex;
  flex-direction: row;


}

.languageIcons > p {
  height: 50px;
  margin: 0;
  padding-top: 3px;
}

.languageIcons > img {
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  padding-left: 30px;
}

.contactIcons {
  display: flex;
  justify-content: space-evenly;
  padding: 3px 0px;
}

.contactIcons a, .contactIcons img {
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 500px) {
  .hamburger {
    display: none;
  }

  nav > p {
    padding-left: 10px
  }

  .largerNav {
    width: 38%;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-size: 18px;
    font-weight: 100;
  }

  .largerNav > a {
    margin: 0;
    line-height: 34px;
    text-decoration: none;
    color: white;
    outline: none;
  }

  .largerNav > a:hover, .largerNav > a:focus {
  color: black;
  cursor: pointer;
  transition: .1s ease-in;
  font-weight: 300;
  }

}

.projects {
  display: none;
}

.contact {
  display: none;
}

.aboutMe {
  display: none;
}